@model RailwaySystem.Models.StationDep

@{
    ViewData["Title"] = "Delete";
}

<h3 class="alert-success">Delete</h3>
<br />
<h4>Are you sure you want to delete this?</h4>
<div>
    <h4>StationDep</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationName)
        </dd>
    </dl>
    <form asp-action="Delete" enctype="multipart/form-data" method="post">
        <input type="hidden" asp-for="StationCode" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete?')" />
        <a href="@Url.Action("ListStationDep", "StationDep")">
            <span class="btn btn-outline-primary">Back</span>
        </a>
    </form>
</div>
